In [14]:
frutas = ('banana', 'laranja', 'abacate', 'melancia', 'caju', 'abacaxi')
saldo_alunos = (500.00, 1200.00, 1000.00, 600.00, 50000.00)
num_pacientes = (25, 36, 50, 45, 22, 33, 89)

In [15]:
print(frutas[1])

laranja

In [16]:
print(frutas[1:4])

('laranja', 'abacate', 'melancia')

In [17]:
print(frutas[0:4])

('banana', 'laranja', 'abacate', 'melancia')

In [18]:
saldo_alunos_dup = (500.00, 1200.00, 1000.00,500.00, 1200.00, 1000.00, 600.00, 50000.00)

In [19]:
print(saldo_alunos_dup)

(500.0, 1200.0, 1000.0, 500.0, 1200.0, 1000.0, 600.0, 50000.0)

In [20]:
tuple_junto = frutas + num_pacientes

In [21]:
print(tuple_junto)

('banana', 'laranja', 'abacate', 'melancia', 'caju', 'abacaxi', 25, 36, 50, 45, 22, 33, 89)

In [22]:
print(type(tuple_junto))

<class 'tuple'>

In [26]:
num_pacientes_x = (25, 36, 50, 45, 22, 33, 89,25, 36, 50, 45, 22, 33, 89,
                25, 36, 50, 45, 22, 33, 89, 25, 36, 50, 45, 22, 33, 89)

In [27]:
num_pacientes_x.count(45)

4